/* ==========  Buttons - btn,btn full,btn ghost ============= */

  .btn:link,
  .btn:visited {
    /* inline-block element has padding + margin and doesn't line break */
    display: inline-block;
    font-size: 115%;
    padding: 10px 15px;
    margin-right: 20px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 1em;
    width: 200px;
    transition: border 2s, width 2s, background-color 2s, height 2s, transform 2s;
    transition-delay: 0.15s;
    text-align: center;
    size: 10px;
  }

  .btn-full:link,
  .btn-full:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
  }
  .btn-ghost:link,
  .btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
  }
  .btn:hover,
  .btn:active {
    background-color: #e67e22;
    width: 20%;
    transform: rotate(137.5077640500378546463487deg);
    transition-delay: 0.15s;
  }
  .btn-full:hover,
  .btn-full:active {
    border: 1px solid #e67e22;
    color: #fff;
  }
  .btn-ghost:hover,
  .btn-ghost:active {
    border: 1px solid #e67e22;
    color: #fff;
  }

