h1{
    /* Where is the element */
    border: 5px solid rgba(23, 102, 221, 0.88);
    /*======================*/
  
    color: #f20000;
    font-size: 200%;
    margin-top: 0px;
    margin-bottom: 20px;
    word-spacing: 4px;
  }
  