
.section-features {
    padding-top: 80px;
    padding-bottom: 80px;
    border: 1px solid rgb(30, 255, 0);
  }
    
.section-features-col {
  max-width: 1140px;
  margin: 0 auto 10px auto;
  border: 1px solid rgb(17, 0, 255);
}

.long-copy {
    line-height: 145%;
    width: 60%;
  } 

.box p {
    max-width: 1140px;
    font-size: 90%;
    line-height: 145%;
    padding: 1%;
    border: 1px solid rgba(23, 102, 221, 0.88);
}  

